<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string></string>
	<key>UserAge</key>
	<integer>0</integer>
	<key>UserGender</key>
	<string></string>
	<key>UserLat</key>
	<string></string>
	<key>UserLong</key>
	<string></string>
	<key>UserPreferences</key>
	<dict>
		<key>TimeOfDay</key>
		<string></string>
		<key>SearchWords</key>
		<array/>
	</dict>
</dict>
</plist>
